Repository hashgraph/hedera-sdk-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers, @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/tsc

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-committers @hiero-ledger/github-maintainers 
/.github/workflows/                             @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Cmake project files and inline plugins
**/.clang*                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.clang-format                                @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.clang-tidy                                  @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/CMakeLists.txt                               @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/CMakePresets.json                            @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
.remarkrc                                       @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/LICENSE                                      @hiero-ledger/github-maintainers @hiero-ledger/tsc

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.gitignore.*                                 @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

rmv: unnecessary files
  hedera-sdk-cpp-v0.29.0-fc2eadd1.tar.gz.sha256
  src/tck/src/SdkClient.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

Update README.md - Hedera -> Hiero (#809)
  README.md
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Add network freeze
  src/sdk/tests/integration/NodeCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Add network freeze (#819)
  src/sdk/tests/integration/NodeCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

chore: Edit LICENSE
  LICENSE
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/tsc

chore: Remove hashgraph keyword
  CONTRIBUTING.md
  README.md
  src/sdk/main/include/RequestType.h
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers, @hiero-ledger/github-committers, @hiero-ledger/github-maintainers

chore: Remove more Hashgraph keywords
  src/sdk/examples/CreateFileExample.cc
  src/sdk/examples/DeleteFileExample.cc
  src/sdk/examples/FileAppendChunkedExample.cc
  src/sdk/main/include/Client.h
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Add optional Tests/TCK builds.
  .github/workflows/zxc-build-library.yaml
  README.md
  src/CMakeLists.txt
  src/sdk/CMakeLists.txt
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Disable TCK build for CI
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Comment typo
  src/CMakeLists.txt
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Create examples build flag
  README.md
  src/sdk/CMakeLists.txt
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Add optional Tests/TCK builds (#824)
  .github/workflows/zxc-build-library.yaml
  README.md
  src/CMakeLists.txt
  src/sdk/CMakeLists.txt
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Created NodeCreate NodeDelete tests for Solo
  src/sdk/tests/integration/NodeDeleteTransactionIntegrationTests.cc
  src/sdk/tests/integration/NodeUpdateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Typo
  src/sdk/tests/integration/NodeDeleteTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Added kNodeDelete, kNodeUpdate stubs and disabled tests for local node run
  src/sdk/main/src/impl/Node.cc
  src/sdk/tests/integration/CMakeLists.txt
  src/sdk/tests/integration/NodeDeleteTransactionIntegrationTests.cc
  src/sdk/tests/integration/NodeUpdateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers, @hiero-ledger/github-committers, @hiero-ledger/github-maintainers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Disable NodeCreate against local-node
  src/sdk/tests/integration/NodeCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add associateToken rpc method
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/AssociateTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: build examples cmake error
  src/sdk/CMakeLists.txt
  src/tck/include/token/params/DeleteTokenParams.h
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

refactor: make associate use hiero names
  src/sdk/CMakeLists.txt
  src/sdk/examples/ConstructClientExample.cc
  src/sdk/main/include/FeeAssessmentMethod.h
  src/sdk/main/include/Transaction.h
  src/sdk/main/src/ContractFunctionParameters.cc
  src/sdk/main/src/RequestType.cc
  src/sdk/main/src/Status.cc
  src/sdk/main/src/TokenType.cc
  src/sdk/main/src/impl/ASN1ECPublicKey.cc
  src/sdk/tests/unit/ECDSAsecp256k1PrivateKeyUnitTests.cc
  src/sdk/tests/unit/ED25519PrivateKeyUnitTests.cc
  src/sdk/tests/unit/NetworkUnitTests.cc
  src/sdk/tests/unit/TokenMintTransactionUnitTests.cc
  src/tck/include/token/params/AssociateTokenParams.h
  src/tck/src/sdk/SdkClient.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add pauseToken endpoint
  src/sdk/CMakeLists.txt
  src/sdk/examples/ConstructClientExample.cc
  src/sdk/main/src/RequestType.cc
  src/sdk/main/src/Status.cc
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/PauseTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add unpauseToken method
  src/sdk/main/src/RequestType.cc
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/UnpauseTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat(tokenDeleteTransaction): Implement JSON-RPC endpoint for `TokenDeleteTransaction` (#790)
  src/sdk/CMakeLists.txt
  src/sdk/examples/ConstructClientExample.cc
  src/sdk/examples/ContractHelper.h
  src/sdk/main/include/FeeAssessmentMethod.h
  src/sdk/main/include/Transaction.h
  src/sdk/main/include/impl/MirrorNodeRouter.h
  src/sdk/main/src/FeeDataType.cc
  src/sdk/main/src/FreezeType.cc
  src/sdk/main/src/RequestType.cc
  src/sdk/main/src/Status.cc
  src/sdk/main/src/TokenKeyValidation.cc
  src/sdk/main/src/TokenSupplyType.cc
  src/sdk/main/src/TokenType.cc
  src/sdk/main/src/impl/ASN1ECPublicKey.cc
  src/sdk/main/src/impl/EntityIdHelper.cc
  src/sdk/tests/unit/ContractLogInfoUnitTests.cc
  src/sdk/tests/unit/ECDSAsecp256k1PrivateKeyUnitTests.cc
  src/sdk/tests/unit/ECDSAsecp256k1PublicKeyUnitTests.cc
  src/sdk/tests/unit/ED25519PrivateKeyUnitTests.cc
  src/sdk/tests/unit/ED25519PublicKeyUnitTests.cc
  src/sdk/tests/unit/NetworkUnitTests.cc
  src/sdk/tests/unit/TokenMintTransactionUnitTests.cc
  src/tck/include/token/CustomFeeSerializer.h
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/DeleteTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/account/AccountService.cc
  src/tck/src/key/KeyService.cc
  src/tck/src/main.cc
  src/tck/src/sdk/SdkClient.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat(TCK): add dissociateToken tests
  src/sdk/main/src/ContractFunctionParameters.cc
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/DeleteTokenParams.h
  src/tck/include/token/params/DissociateTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat(tokenUpdateTransaction): Implement JSON-RPC method endpoint for `TokenUpdateTransaction` (#815)
  src/sdk/main/include/Status.h
  src/sdk/main/src/ContractFunctionParameters.cc
  src/sdk/main/src/Status.cc
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/UpdateTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: windows build
  src/sdk/main/include/Status.h
  src/tck/include/account/AccountService.h
  src/tck/include/account/params/CreateAccountParams.h
  src/tck/include/account/params/UpdateAccountParams.h
  src/tck/include/key/KeyService.h
  src/tck/include/sdk/SdkClient.h
  src/tck/src/TckServer.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Windows build (#843)
  src/sdk/main/include/Status.h
  src/tck/include/account/AccountService.h
  src/tck/include/account/params/CreateAccountParams.h
  src/tck/include/account/params/UpdateAccountParams.h
  src/tck/include/key/KeyService.h
  src/tck/include/sdk/SdkClient.h
  src/tck/src/TckServer.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Add Hiero renaming
  src/sdk/tests/integration/NodeDeleteTransactionIntegrationTests.cc
  src/sdk/tests/integration/NodeUpdateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add freezeToken endpoint
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/FreezeTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add unfreezeToken endpoint
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/UnfreezeTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add grantTokenKyc method
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/GrantTokenKycParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add revokeTokenKyc endpoint
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/RevokeTokenKycParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Updated protobufs and added HIP statuses
  .gitignore
  HieroApi.cmake
  proto/CMakeLists.txt
  src/sdk/main/include/Status.h
  src/sdk/main/src/Status.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Added integration tests
  src/sdk/tests/integration/ScheduleCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

chore: update local node network version in CI
  .github/workflows/zxc-build-library.yaml
  src/sdk/tests/integration/ScheduleCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: update types to strings
  src/tck/include/account/params/CreateAccountParams.h
  src/tck/include/account/params/UpdateAccountParams.h
  src/tck/src/account/AccountService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: update `Account` types to `string` from `int64_t` (#856)
  src/tck/include/account/params/CreateAccountParams.h
  src/tck/include/account/params/UpdateAccountParams.h
  src/tck/src/account/AccountService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: MOD updates braking ScheduledQuery test
  src/sdk/tests/integration/ScheduleInfoQueryIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Add multisig and timed integration tests
  src/sdk/tests/integration/ScheduleCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Added LongTermSchedule example
  src/sdk/examples/CMakeLists.txt
  src/sdk/examples/LongTermScheduledTransactionExample.cc
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers
