Repository hashgraph/hedera-sdk-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers, @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/tsc

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-committers @hiero-ledger/github-maintainers 
/.github/workflows/                             @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Cmake project files and inline plugins
**/.clang*                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.clang-format                                @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.clang-tidy                                  @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/CMakeLists.txt                               @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/CMakePresets.json                            @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
.remarkrc                                       @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/LICENSE                                      @hiero-ledger/github-maintainers @hiero-ledger/tsc

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers
**/.gitignore.*                                 @hiero-ledger/github-committers @hiero-ledger/github-maintainers  @hiero-ledger/hiero-sdk-cpp-maintainers @hiero-ledger/hiero-sdk-cpp-committers

fix: Forgot thread include
  src/sdk/examples/LongTermScheduledTransactionExample.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: Added other missing thread include
  src/sdk/tests/integration/ScheduleCreateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

Update README.md
  README.md
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add burnToken endpoint
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/MintTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add burnToken endpoint
  src/tck/include/token/TokenService.h
  src/tck/include/token/params/BurnTokenParams.h
  src/tck/src/TckServer.cc
  src/tck/src/main.cc
  src/tck/src/token/TokenService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

rmv: remove git merge conflict text
  src/tck/include/token/TokenService.h
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

Update README.md (#857)
  README.md
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: add approveAllowance endpoint
  src/tck/include/account/AccountService.h
  src/tck/include/account/params/ApproveAllowanceParams.h
  src/tck/include/account/params/allowance/AllowanceParams.h
  src/tck/include/account/params/allowance/HbarAllowanceParams.h
  src/tck/include/account/params/allowance/NftAllowanceParams.h
  src/tck/include/account/params/allowance/TokenAllowanceParams.h
  src/tck/src/TckServer.cc
  src/tck/src/account/AccountService.cc
  src/tck/src/main.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

feat: Created NodeCreate NodeDelete tests for Solo (#825)
  src/sdk/main/src/impl/Node.cc
  src/sdk/tests/integration/CMakeLists.txt
  src/sdk/tests/integration/NodeDeleteTransactionIntegrationTests.cc
  src/sdk/tests/integration/NodeUpdateTransactionIntegrationTests.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers, @hiero-ledger/github-committers, @hiero-ledger/github-maintainers

ci: Windows + Mac builds done
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: test biobj flag
  CMakeLists.txt
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: Test MacOS builds
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: Test Windows builds
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: Specify powershell for SHA and enable git long paths
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: Add workflow_dispatch
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

ci: Disable get-make action Cloud cache usage
  .github/workflows/zxc-build-library.yaml
Owners: @hiero-ledger/github-committers, @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers

fix: parse common transaction params
  src/tck/src/account/AccountService.cc
Owners: @hiero-ledger/hiero-sdk-cpp-maintainers, @hiero-ledger/hiero-sdk-cpp-committers
